.section-images{
    margin-top: -230px;
}

#queesnatural{
    font-size: 30px;
}

.badge{
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
}

.mermelada2{
    min-width: auto;
    min-height: auto;
    
    background-position: center;
    background-size: cover;
}

