.wrapper_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 3rem;
  justify-content: center;
}

.sub_title {
  text-align: center;
}

.mapa {
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-radius: $radius;
}

.encuentranos_title {
  margin-top: 2rem;
}